/* 列表样式 */
.question-list{margin-bottom:10px}
.question-list.top-indent{margin-top:-10px}
.question-list-item{margin:0;border-bottom:1px solid #eee;padding:10px 0}
.question-list-item .author{margin-bottom:5px;color:#999;font-size:13px}
.question-list-item .author a{color:#999}
.question-list-item .author small{color:#ddd}
.question-list-item .title{display:inline;margin:0 5px 0 0;font-size:16px}
.question-list-item .title a{color:#333}
.question-list-item .title a:hover{color:#017e66}
.question-list-item .title a:visited{font-weight:400}
.question-list-item .small-title{margin:0 0 5px;font-size:16px}
.question-list-item .split:before{content:"·";color:#ddd}
.question-list-item .summary{overflow:auto;overflow-x:hidden}
.question-list-item .excerpt{margin:5px 0 0;height:42px;color:#777;font-size:13px;line-height:1.6;overflow:hidden}
.question-list-item.highlight{background:#FFF9EB}

