.wrap {
    padding-bottom: 30px;
    position: relative;
}

/* 详情页面头部 */
.widget-question .title{margin: 0 0 10px;}
.widget-question .best-answer{border: 1px solid #EBEBEB;padding: 10px 20px 20px;}
.widget-question .trophy-title{color:#ad3a37;}
.widget-question .adopt_time{font-size: 14px;font-weight: normal;}
.widget-question .user-info{padding:20px 0px 0px;}
